env:
  global:
    - secure: GakAPsyd7jkvsH/lpBJFQpGCiG/Q2wcz/RNghqqrUocqtt4StW1WzFSKpMddPCbwl5a5XQ1VUwivV1ZrilR22OtTmIyHTBeRlzQtlkeHn6l++xcP2qnqQkIxnD7LbafCC/vOg/LpKWYpM0y6+W2s6K8TypMV9vRCgTskLgfJTCo0L4pAjBlietfa9+elypr+kgSxEHzkmB+4G+xvOJOCMd5dC/HKnPnCCVZ6nZ5/6cz+eFPkx44NjbqcjoGe8jZJtFM8abb6i9Nx65FbiABrvyzD5Oc8p8ETtcQF+5oNoOH6AwHtinEDbelN9oD6a2Yk8qJK0zt6d6F2I6givUE0SJjJBMIk6OV8mPLUzosgbK89Gre24cjSEq/Q8BMxq4eGUBAxuRsoTfOIoZnBYcb9kc+7fH36ufJ8GjkiYz9OZvk8bCW8xBlxcsowYd0S6b+wF8F0tVE+SnNLXaeoXtut8DHh72IITUGPGnyhMk/h5kPkQVG85Sn9W+WwRmMxuQneYBgB3NX95J0IDVOO6AZ6w1h1QbQ4VWRoQDBdrsYM4e5Ah4rCEvy7NXIo37KPmfj+xbgKSP4BSPQmAqhJ4mpVM9LFtnLf2r96fAakZXZXEs/mky+AzuWWuO8rl0OolR/JDfJZJ9TnMH3CAVHKJ98dCDGMoGgXv3SyNGwhKtlsTlk=
    - GIT_NAME: Travis CI
    - GIT_EMAIL: dead-hosts@funilrys.com
    - TRAVIS_REPO_SLUG: Ultimate-Hosts-Blacklist/hpHosts---GRM
    - GIT_BRANCH: master
    - WHITELISTING_LOCATION: https://raw.githubusercontent.com/Ultimate-Hosts-Blacklist/dev-center/whitelisting/whitelisting.py
    - UPDATE_LOCATION: https://raw.githubusercontent.com/Ultimate-Hosts-Blacklist/repository-structure/master/update.py
    - ADMINISTATION_LOCATION: https://raw.githubusercontent.com/Ultimate-Hosts-Blacklist/repository-structure/master/administration.py

dist: xenial
sudo: required
language: python

python:
  - "3.7"

matrix:
  fast_finish: true

cache:
  - pip

addons:
  apt:
    packages:
      - dos2unix

install:
  - pip3 install --upgrade pip
  - pip3 install requests
  - wget "${WHITELISTING_LOCATION}" -o /dev/null -O whitelisting.py && chmod +x whitelisting.py
  - if [[ ! -f .admin ]]; then wget "${UPDATE_LOCATION}" -o /dev/null -O update.py && chmod +x update.py; else echo "No need to download/update update.py."; fi
  - if [[ ! -f .admin ]]; then wget "${ADMINISTATION_LOCATION}" -o /dev/null -O administration.py && chmod +x administration.py; else echo "No need to download/update administration.py."; fi

script:
  - python3 ./update.py

notifications:
  on_success: change
  on_failure: always
